<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
</head>

<body>
    <h1>Bill</h1>
    <table>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
    </table>
    <p th:text="${totalPrice}"/>
</body>

</html>